
body {
  margin: 20px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Me-pic {
  width: 250px;
  /* margin-right: 15px; */
  transition: transform 0.3s ease-in-out;

}


.Me-pic:hover {
  border-radius: 50px;
  transform: scale(1.1); 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.Card-back {
  background: #588157;
  color: white;
  width: 500px;
  /* border: 1px dotted blue; */
  padding: 25px;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  text-align: center;
  border-bottom: 10px solid #3A5A40;
  border-radius: 5px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); */
  cursor: pointer;
}

.Card-back:hover {
  background-color: #a3b18a;
  color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.blue-border {
  border: 1px dotted blue;
}